.element__heart {
  background-image: url('../../../images/heart.png');
  width: 22px;
  height: 18px;
  background-repeat: no-repeat;
  margin: auto 20px 5px;
  border: none;
  background-color: #fff;
}

.element__heart:hover {
  opacity: 0.6;
}
